<div class="container top-buffer">
  <div class="row">
    <div class="col">
      <form>
        <div class="form-group">
          <input
            #newExercise
            type="text"
            class="form-control"
            placeholder="Название упражнения">

          <div class="form-group">
            <button (click)="addNewExercise(newExercise.value)" type="button" class="btn btn-primary">
              Добавить упражнение
            </button>
          </div>

        </div>
      </form>


    </div>
  </div>
</div>
