<div class="container">

  <div class="row">
    <div class="col">
      <div class="container">
        <div class="row">
          <form>
            <div class="form-group">
              <label>Упражнение</label>
              <select #exerciseId class="form-control form-control-lg">
                <option *ngFor="let exercise of exercises; let i = index" [value]="exercise.id" >
                  {{ exercise.name }}
                </option>
              </select>
            </div>

            <div class="form-group">
              <label for="workingWeight">Рабочий вес</label>
              <input #weight type="text" class="form-control" id="workingWeight" placeholder="50">
              <small class="form-text text-muted">Здесь можно указать вес с которым поработал, кг</small>
            </div>

            <div class="form-group">
              <label for="repetitionsNumber">Количество повторений</label>
              <input #repetitionsNumber type="text" class="form-control" id="repetitionsNumber" placeholder="5">
              <small class="form-text text-muted">Здесь необходимо указать количесто повторений в подходе</small>
            </div>

            <div class="form-group">
              <div class="input-group">
                <input #time class="form-control" placeholder="yyyy-mm-dd"
                       name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                </div>
              </div>
            </div>


            <button type="submit" (click)="addNewExerciseRecord(
              exerciseId.value, weight.value, repetitionsNumber.value, time.value
            )" class="btn btn-primary">
              Добавить запись об упражнении
            </button>
          </form>
        </div>

      </div>
    </div>

    <div class="col">
      <h2>Прошлые подходы</h2>
      <table class="table">
        <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Название</th>
          <th scope="col">Вес</th>
          <th scope="col">Количество повторений</th>
          <th scope="col">Время</th>
          <th scope="col"></th>
        </tr>
        </thead>

        <tbody *ngFor="let record of records; let i = index" >
        <tr>
          <th scope="row">{{ record.id + 1 }}</th>
          <td>{{ findExerciseNameById(record.exerciseId) }}</td>
          <td>{{ record.weight }}</td>
          <td>{{ record.quantity }}</td>
          <td>{{ record.date | date:"MM-dd-yyyy" }}</td>
          <td><button type="button" class="btn btn-danger">Удалить</button></td>
        </tr>
        </tbody>

      </table>

      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
