<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">JStronger</a>
  <button routerLink="/" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/training">Мои тренировки <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/post">Посты <span class="sr-only">(current)</span></a>
      </li>

    </ul>
    <a class="nav-link form-inline my-2 my-lg-0" href="#">О сайте<span class="sr-only">(current)</span></a>
  </div>
</nav>

<router-outlet></router-outlet>
