
<div class="container top-buffer">

    <h2>График КПШ</h2>

    <div style="display: block">
      <canvas mdbChart
              [chartType]="chartType"
              [datasets]="chartDatasets"
              [options]="chartOptions"
              [labels]="chartLabels"
              [legend]="true"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
      </canvas>
    </div>
</div>

<div class="container top-buffer">
  <div class="row">
    <div class="col-sm-4">
      <select #chartExercise class="form-control form-control-lg">
        <option *ngFor="let exercise of exercises; let i = index" [value]="exercise.id" >
          {{ exercise.name }}
        </option>
      </select>
    </div>
    <div class="col-sm-4">
      <button type="button" class="btn btn-primary" (click)="buildRodLiftsNumberChart(chartExercise.value)">Вывести график</button>
    </div>
  </div>
</div>
