<app-exercise-record [exercises]="exercises"></app-exercise-record>

<app-graphics [exercises]="exercises"></app-graphics>

<app-exercise (exerciseUpdateEvent)="updateExercises($event)"></app-exercise>

